@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  font-family: 'Roboto';
}

header {
  position: absolute;
  width: 100%;
  height: 47px;
  left: 0px;
  top: 0px;
  background: black;
  display: flex;
}

/* Reference section */

.reference{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(100, 0, 0);
  height: 25px;
  width: 60%;
  margin: auto;
}

.reference-home {
  color: white;
  font-size: 16px;
  width: auto;
  padding: 0 10px;
  height: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
}

.reference-audiovisual {
  color: white;
  font-size: 16px;
  width: auto;
  padding: 0 10px;
  height: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
}

.rollback {
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  width: auto;
  padding: 0 10px;
  height: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: right;
}

.rollback span {
  margin-left: -10px;
}

/* Banner section */

.banner {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  background-color: #000000;
}

.banner img {
  height: 158px;
}

/* Container search and submit bars */

.container-search-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(100, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 7px auto;
  width: 60%;
}

/* Container search bar */

.container-search-bar{
  width: 60%;
  padding-bottom: 7px;
}

.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 0px;
  border-radius: 10px;
  background: #f6f6f6;
}

.search-input {
  font-size: 14px;
}

/* Container submit bar */

.container-submit-bar{
  width: 60%;
}

.submit-bar {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 7px 0px;
}

.submit-form {
  display: flex;
  align-items: center;
}

#submit-form-1 {
  width: 30%;
  margin-right: 30px;
  border-radius: 10px;
  background: #f6f6f6;
}

.imdb-id-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

#submit-form-2 {
  width: 70%;
  border-radius: 10px;
  background: #f6f6f6;
}

.title-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 85.5%;
}

.year-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  width: 14.5%;
}

#submit-button {
  margin-left: 10px;
}

/* Container information */

.container-information {
  width: 60%;
  background-color: rgba(100, 0, 0, 0.485);
  border: 2px solid #3e0000;
  display: flex;
  flex-direction: column;
  margin: 7px auto; 
}

.information {
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 7px;
  color: #EAEAEA;
}

/* Item */

.item-name {
  background-color: rgba(100, 0, 0, 0.485);
  border: 2px solid #3e0000;
  border-radius: 10px;
  margin-bottom: 7px;
  color: #EAEAEA;
  width: 60%;
  margin: 7px auto;
}

.empty-audiovisuals {
  background-color: rgba(100, 0, 0, 0.485);
  border: 2px solid #3e0000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 300px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin: auto;
}

/* Inputs */

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}